# Random EuroScope Files
version.txt
euroscope_sector_providers.txt
SectorFileProviderDescriptor.txt
TopSkyCPDLChoppieCode.txt
Data/Sector/Hong-Kong-Sector-File.rwy
Data/Plugins/TopSky/TopSkyCPDLChoppieCode.txt
