name: Ping Discord
on:
  release:
    types: [published]
jobs:
  discord-notification:
    runs-on: ubuntu-latest
    steps:
      - name: Get Current Release
        id: get_current_release
        uses: joutvhu/get-release@v1
        with:
          latest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Release Description
        id: get_release_description
        uses: pozetroninc/github-action-get-latest-release@master
        with:
          repository: ${{ github.repository }}
          excludes: prerelease, draft
      - name: Send Discord Update Ping
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          embed-title: Hong Kong Sector Package ${{ steps.get_current_release.outputs.tag_name}}
          embed-url: ${{ steps.get_current_release.outputs.html_url }}
          embed-description: |
            An update to the Hong Kong Sector Package has been released. All controllers should update using the installer.
            ${{ steps.get_release_description.outputs.description }}
          embed-color: 2393011
